<html>
	<head>
		<meta charset='UTF-8' />
		<title>Ваша заявка принята</title>
	</head>
	<body>
		<h2>Уважаемый(ая) {{userName}},</h2>
		<p>Ваша заявка на услугу "{{serviceName}}" успешно принята в обработку.</p>
		<p>Дата подачи заявки: {{date}}</p>
		<p>Наши специалисты свяжутся с вами в ближайшее время.</p>
		<hr />
		<p>С уважением,<br />Команда сервиса</p>
	</body>
</html>